{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h3 class="mb-4">黑词管理</h3>

        <!-- Add new black word -->
        <div class="card">
            <div class="card-header">
                添加新词
            </div>
            <div class="card-body">
                <form method="post" action="{{ url_for('api.black_keyword_add') }}">
                    <label for="new-blackword" class="form-label me-2">请输入关键词</label>
                    <small class="text-muted">注意：【多个关键词用英文逗号(,)分隔】</small>

                    <div class="mb-3 d-flex align-items-center flex-wrap">
                        <div class="col-10"> <!-- 或者使用 col-md-6 对于中等屏幕以上 -->
                            <input type="text" class="form-control" id="new-blackword" name="keyword_list" required>
                        </div>
                        <button type="submit" class="btn btn-primary ms-auto">新增</button> <!-- 使用ms-auto将按钮推至右侧 -->
                    </div>
                </form>
            </div>
        </div>

        <!-- Black word List -->
        <div class="card mb-3 mt-4">
            <div class="card-header">
                黑词列表
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" id="select-all"></th>
                        <th scope="col">序号</th>
                        <th scope="col">关键词</th>
                        <th scope="col">创建时间</th>
                        <th scope="col">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for word in data %}
                        <tr>
                            <td><input type="checkbox" name="selectedWords" value="{{ word.id }}"></td>
                            <td>{{ word.id }}</td>
                            <td>{{ word.keyword }}</td>
                            <td>{{ word.created_at }}</td>
                            <td>
                            <td><a href="{{ url_for('api.black_keyword_delete', keyword_id=word.id) }}"
                                   class="btn btn-sm btn-danger">删除</a></td>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!-- Pagination -->
                <!-- Pagination -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if current_page > 1 %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{ url_for('api.black_keyword_list', page=current_page-1, page_size=page_size) }}"
                                   tabindex="-1" aria-disabled="true">上一页</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">上一页</a>
                            </li>
                        {% endif %}

                        {% for page in range(1, total_pages+1) %}
                            {% if page == current_page %}
                                <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link"
                                                         href="{{ url_for('api.black_keyword_list', page=page, page_size=page_size) }}">{{ page }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if current_page < total_pages %}
                            <li class="page-item">
                                <a class="page-link" href="




                                        {{ url_for('api.black_keyword_list', page=current_page+1, page_size=page_size) }}">下一页</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">下一页</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>


    </div>
{% endblock content %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('#select-all').on('change', function () {
                var isChecked = this.checked;
                $('#select-all').closest('table').find('input[type="checkbox"]').prop('checked', isChecked);
            });
        });
    </script>
{% endblock script %}
