{% extends 'base.html' %}

{% block style %}

{% endblock style %}
<style>
    .content-details {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 0.8em;
    }

    .content-details .detail-row {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 5px;
    }

    .content-details .detail-row span {
        border: 1px solid #ccc;
        padding: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .tag-select {
        height: auto; /* 允许自动调整高度 */
        max-height: 200px; /* 设置最大高度，以适应屏幕空间 */
        overflow-y: auto; /* 当内容超出时显示垂直滚动条 */
    }
</style>

{% block content %}
    <div class="container mt-5">
        <h3 class="mb-4">TG账户</h3>

        <div class="card mb-3 mt-4">
            <div class="card-header">
                账户列表
                <button type="button" class="btn btn-sm btn-primary" id="addAccountButton"
                        style="margin-left: 10px">新增
                </button>
                <a href="#" class="btn btn-sm  btn-success search_keyword">获取记录</a>

            </div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 30px;"><input type="checkbox" id="select-all"></th>
                        <th scope="col">手机号</th>
                        <th scope="col">账户id</th>
                        <th scope="col">用户名</th>
                        <th scope="col">用户昵称</th>
                        <th scope="col">状态</th>
                        <th scope="col">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for word in data %}
                        <tr>
                            <td><input type="checkbox" name="selectedWords" value="{{ word.id }}"></td>
                            <td>{{ word.phone }}</td>
                            <td>{{ word.user_id }}</td>
                            <td>{{ word.username }}</td>
                            <td>{{ word.nickname }}</td>
                            <td>{{ word.status_text }}</td>
                            <td><a href="{{ url_for('api.tg_account_delete', id=word.id) }}"
                                   class="btn btn-sm btn-danger delete-user"
                                   onclick="return confirm('确定删除该账号吗？')">删除</a>
                                {% if word.status in [3,2] %}
                                    <a type="button" class="btn btn-sm btn-primary" id="nextStepButton"
                                       data-bs-toggle="modal"
                                       data-bs-target="#verifyCodeModal"
                                       data-verify_phone="{{ word.phone }}">重新验证</a>
                                {% endif %}

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Add account Modal -->
            <div class="modal fade" id="addAccountModal" tabindex="-1" aria-labelledby="addAccountModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addAccountModalLabel">开发平台配置</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="addResultForm" method="POST">
                            <div class="modal-body">
                                <!-- Form to add new result -->
                                <div class="mb-3">
                                    <label for="addUsername" class="form-label">用户名</label>
                                    <input type="text" class="form-control" id="username" name="username"
                                           placeholder="" required>
                                    <label for="addPhone" class="form-label">手机号</label>
                                    <input type="text" class="form-control" id="phone" name="phone"
                                           placeholder="" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" id="nextStepButton">下一步
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <!-- apiId apiHash Modal -->
            <div class="modal fade" id="verifyApiModal" tabindex="-1" aria-labelledby="verifyApiModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="verifyApiModalLabel">开发平台配置</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="verifyCodeForm">
                            <div class="modal-body">
                                <!-- Form to add new result -->
                                <div class="mb-3">
                                    <label for="addCode" class="form-label">手机号</label>
                                    <input type="text" class="form-control" id="apiVerifyPhone" name="phone" value=""
                                           placeholder="" required>
                                    <label for="addCode" class="form-label">开发平台验证码</label>
                                    <input type="text" class="form-control" id="apiCode" name="code"
                                           placeholder="" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" id="verifyApiButton">确定</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <!-- verifyCode Modal -->
            <div class="modal fade" id="verifyCodeModal" tabindex="-1" aria-labelledby="verifyCodeModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="verifyCodeModalLabel">初始化Tg账号</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="verifyCodeForm">
                            <div class="modal-body">
                                <!-- Form to add new result -->
                                <div class="mb-3">
                                    <label for="addCode" class="form-label">手机号</label>
                                    <input type="text" class="form-control" id="phoneVerify" name="phone" value=""
                                           placeholder="" required>
                                    <label for="addCode" class="form-label">验证码</label>
                                    <input type="text" class="form-control" id="verifyCode" name="code"
                                           placeholder="" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" id="verifyCodeButton">确定</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <!-- password Modal -->
            <div class="modal fade" id="verifyPasswordModal" tabindex="-1" aria-labelledby="verifyPasswordModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="verifyPasswordModalLabel">初始化Tg账号</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="verifyPasswordForm" action="{{ url_for('api.tg_account_update_pwd') }}" method="POST">
                            <div class="modal-body">
                                <!-- Form to add new result -->
                                <div class="mb-3">
                                    <label for="addPhone" class="form-label">手机号</label>
                                    <input type="text" class="form-control" id="pwdPhoneVerify" name="phone" value=""
                                           placeholder="" required>
                                    <label for="addPassword" class="form-label">密码</label>
                                    <input type="text" class="form-control" id="password" name="password"
                                           placeholder="">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                <button type="submit" class="btn btn-primary" id="addTagResult">确定</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>


    </div>
{% endblock content %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#select-all').on('change', function () {
                var isChecked = this.checked;
                $('#select-all').closest('table').find('input[type="checkbox"]').prop('checked', isChecked);
            });
        });


        $(document).ready(function () {
            $('#addAccountButton').click(function (e) {
                // 打开添加账户模态框
                e.preventDefault();
                $('#addAccountModal').modal('show');
            })
            $('#nextStepButton').click(function (e) {
                // 点击下一步， 新增账户后展示输入验证码模态框
                e.preventDefault();
                var phone = $('#phone').val();
                if (!phone) {
                    phone = $(this).data('verify_phone');
                }
                if (!phone) {
                    alert('请输入手机号');
                    return;
                }
                var name = $('#username').val()
                $.ajax({
                    type: 'POST',
                    url: '{{ url_for("api.tg_account_add") }}',
                    data: JSON.stringify({phone: phone, name: name}),
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        $('#apiVerifyPhone').val(phone);
                        $('#verifyApiModal').modal('show');
                    },
                    error: function (error) {
                        console.error('Error update api code:', error);
                    }
                });


            });
            $('#verifyApiButton').click(function (e) {
                e.preventDefault();
                // 点击确定后，监听是否获取到api_id和api_hash
                var phone = $('#apiVerifyPhone').val();
                var code = $('#apiCode').val();
                if (!code) {
                    alert('请输入验证码');
                    return;
                }
                $.ajax({
                    type: 'POST',
                    url: '{{ url_for("api.tg_account_update_api_code") }}',
                    data: JSON.stringify({phone: phone, code: code}),
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        api_check(phone);
                        alert('正在获取api_id和api_hash，请稍后...');
                    },
                    error: function (error) {
                        console.error('Error update api code:', error);
                    }
                });
            });
            $('#verifyCodeButton').click(function (e) {
                e.preventDefault();
                var phone = $('#phoneVerify').val();
                var code = $('#verifyCode').val();
                console.log(phone, code);

                $.ajax({
                    type: 'POST',
                    url: '{{ url_for("api.tg_account_verify") }}',
                    data: JSON.stringify({phone: phone, code: code}),
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        two_step_check(phone);
                        alert('正在验证账户，请稍后...')

                    },
                    error: function (error) {
                        console.error('Error submitting form:', error);
                    }
                });

            })

            function two_step_check(phone) {
                function performAjaxRequest() {
                    $.ajax({
                        type: 'GET',
                        url: '{{ url_for("api.tg_account_tow_step_check") }}',
                        data: {phone: phone},
                        success: function (response) {
                            var payload = response.payload;
                            console.log('payload:', payload);
                            if (payload.two_step === 1) {
                                $('#pwdPhoneVerify').val(phone);
                                $('#verifyPasswordModal').modal('show');
                                clearInterval(intervalId);  // Stop polling
                            } else if (payload.two_step === 0) {
                                return;
                            } else {
                                $('#verifyCodeModal').modal('hide');
                                location.reload()
                            }
                        },
                        error: function (error) {
                            console.error('Error submitting form:', error);
                        }
                    });
                }

                var intervalId = setInterval(performAjaxRequest, 1000);
                setTimeout(function () {
                    clearInterval(intervalId);  // Stop polling
                }, 20000);  // 10000 milliseconds = 10 seconds
            };

            function api_check(phone) {
                function performAjaxRequest() {
                    $.ajax({
                        type: 'GET',
                        url: '{{ url_for("api.tg_account_api_check") }}',
                        data: {phone: phone},
                        success: function (response) {
                            var payload = response.payload;
                            console.log('payload:', payload);
                            if (payload.code === 1) {
                                clearInterval(intervalId);  // Stop polling
                                // 打开输入tg账号验证码模态框
                                // 发送手机验证码
                                send_phone_code(phone);
                                $('#phoneVerify').val(phone);
                                $('#verifyCodeModal').modal('show');
                            } else if (payload.two_step === -1) {
                                location.reload()
                                return;
                            } else {
                                $('#verifyCodeModal').modal('hide');
                            }
                        },
                        error: function (error) {
                            console.error('Error submitting form:', error);
                        }
                    });
                }

                var intervalId = setInterval(performAjaxRequest, 1000);
                setTimeout(function () {
                    clearInterval(intervalId);  // Stop polling
                }, 60000);  // 10000 milliseconds = 10 seconds
            };

            function send_phone_code(phone) {
                $.ajax({
                    type: 'POST',
                    url: '{{ url_for("api.tg_account_send_phone_code") }}',
                    data: JSON.stringify({phone: phone}),
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        console.log('发送验证码成功')
                    },
                    error: function (error) {
                        console.error('Error update api code:', error);
                    }
                });
            }

        });
        $(document).on('click', '.search_keyword', function (e) {
            console.log('点击搜索')
            e.preventDefault();
            const selectedKeywords = [];
            // 遍历所有的checkbox，收集被选中的关键词ID
            $('input[name="selectedWords"]:checked').each(function () {
                selectedKeywords.push($(this).val());
            });
            const account_id_list = selectedKeywords.join(',');
            console.log('account_id_list:', account_id_list);
            if (!account_id_list) {
                alert('请选择账户');
                return;
            }
            if (account_id_list) {
                $.ajax({
                    url: "{{ url_for('api.tg_account_chat_search') }}",
                    type: "post",
                    data: JSON.stringify({account_id: account_id_list}),
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        alert('正在获取，请稍后！');
                    },
                    error: function (error) {
                        // 处理错误情况
                        console.error("Error:", error);
                    }
                });
            }
        });


    </script>


{% endblock script %}
