{% extends 'base.html' %}

{% block style %}
    <style>
        table {
            table-layout: fixed;
        }

        table td th {
            width: 20%;
        }
    </style>

{% endblock style %}


{% block content %}
    <div class="container mt-5">
        <h3 class="mb-4">群组用户</h3>

        <div class="card-body">
            <form method="GET" action="{{ url_for('api.tg_group_user_list') }}" class="mx-auto">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group d-flex align-items-center">
                            <label for="search_tag" class="me-2">群组:</label>
                            <select class="selectpicker" multiple id="search_group_id" name="search_group_id"
                                    data-live-search="true" title="请选择">
                                {% for tag in group_list %}
                                    <option value="{{ tag.chat_id }}"
                                            {% if tag.chat_id in default_search_group_id %}selected{% endif %}>
                                        {{ tag.group_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group d-flex align-items-center">
                            <label for="search_username" class="me-3" style="width: 50px;">用户:</label>
                            <input type="text" class="form-control" id="search_content" name="search_username"
                                   value="{{ default_search_username }}">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group d-flex align-items-center">
                            <label for="search_nickname" class="me-3" style="width: 50px;">昵称:</label>
                            <input type="text" class="form-control" id="search_nickname" name="search_nickname"
                                   value="{{ default_search_nickname }}">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group d-flex align-items-center">
                            <label for="search_desc" class="me-3" style="width: 50px;">简介:</label>
                            <input type="text" class="form-control" id="search_desc" name="search_desc"
                                   value="{{ default_search_desc }}">
                        </div>
                    </div>
                    {#                    <div class="col-md-3">#}
                    {#                        <div class="form-group d-flex align-items-center">#}
                    {#                            <label for="search_tag" class="me-2">标签:</label>#}
                    {#                            <select class="selectpicker" multiple id="search_tag" name="search_tag"#}
                    {#                                    data-live-search="true" title="请选择">#}
                    {#                                {% for tag in tag_list %}#}
                    {#                                    <option value="{{ tag.id }}"#}
                    {#                                            {% if tag.id in default_tag_id_list %}selected{% endif %}>#}
                    {#                                        {{ tag.name }}#}
                    {#                                    </option>#}
                    {#                                {% endfor %}#}
                    {#                            </select>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <div class="col-md-3 d-flex align-items-center">
                        <button type="submit" class="btn btn-sm  btn-primary">查询</button>
                        <a href="{{ url_for('api.tg_group_user_list') }}" class="btn btn-sm btn-success"
                           style="margin-left: 10px">重置</a>
                        <a href="{{ url_for('api.tg_group_user_download', **request.args.to_dict()) }}"
                           class="btn btn-sm btn-secondary"
                           style="margin-left: 10px">下载</a>
                    </div>
                </div>
            </form>
        </div>

        <div class="card mb-3 mt-4">
            <div class="card-header">
                用户列表
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">群组名称</th>
                        <th scope="col">用户名称</th>
                        <th scope="col">用户昵称</th>
                        <th scope="col">用户id</th>
                        <th scope="col">个人简介</th>
                        <th scope="col">头像</th>
                        <th scope="col">标签</th>
                        <th scope="col">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for word in data %}
                        <tr>
                            <td>{{ word.group_name }}</td>
                            <td>
                                <a href="{{ url_for('api.tg_chat_room_history', search_user_id=word.user_id) }}">
                                    {{ word.username }}
                                </a>
                            </td>
                            <td>{{ word.nickname }}</td>
                            <td>
                                <a href="{{ url_for('api.tg_chat_room_history', search_user_id=word.user_id) }}">
                                    {{ word.user_id }}
                                </a>
                            </td>
                            <td>{{ word.desc }}</td>
                            <td>
                                {% if word.photo %}
                                    <img style="width: 100px; height: 100px"
                                         src="{{ url_for('static', filename=word.photo) }}" alt="">
                                {% endif %}
                            </td>
                            <td>{{ word.tag }}</td>
                            <td>
                                <a href="#" class="btn btn-sm  btn-primary edit-tag"
                                   data-parse-id="{{ word.id }}"
                                   data-parse-user_id="{{ word.user_id }}" data-parse-tag="{{ word.tag_id_list }}"
                                   data-bs-toggle="modal"
                                   data-bs-target="#editRoleModal">编辑</a>
                            </td>


                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!-- Pagination -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if current_page > 1 %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{ url_for('api.tg_group_user_list', page=current_page-1, page_size=page_size) }}"
                                   tabindex="-1" aria-disabled="true">上一页</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">上一页</a>
                            </li>
                        {% endif %}

                        <!-- 显示当前页附近的页码 -->
                        {% set start_page = max(1, current_page - 5) %}
                        {% set end_page = min(total_pages, current_page + 5) %}

                        {% if current_page > 3 %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{ url_for('api.tg_group_user_list', page=1, page_size=page_size, search_group_id=default_search_group_id, search_username=default_search_username, search_nickname=default_search_nickname, search_desc=default_search_desc) }}">1</a>

                            </li>
                            <li class="page-item disabled">
                                <a class="page-link">...</a>
                            </li>
                        {% endif %}

                        {% for page in range(start_page, end_page + 1) %}
                            {% if page == current_page %}
                                <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="{{ url_for('api.tg_group_user_list', page=page, page_size=page_size, search_group_id=default_search_group_id, search_username=default_search_username, search_nickname=default_search_nickname, search_desc=default_search_desc) }}">{{ page }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if current_page < total_pages - 2 %}
                            <li class="page-item disabled">
                                <a class="page-link">...</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{ url_for('api.tg_group_user_list', page=total_pages, page_size=page_size, search_group_id=default_search_group_id, search_username=default_search_username, search_nickname=default_search_nickname, search_desc=default_search_desc) }}">{{ total_pages }}</a>
                            </li>
                        {% endif %}

                        {% if current_page < total_pages %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="
                                        {{ url_for('api.tg_group_user_list', page=current_page+1, page_size=page_size, search_group_id=default_search_group_id, search_username=default_search_username, search_nickname=default_search_nickname, search_desc=default_search_desc) }}">下一页</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">下一页</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>


        </div>

        <!-- Edit Tag Modal -->
        <div class="modal fade" id="editRoleModal" tabindex="-1" aria-labelledby="editRoleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editRoleModalLabel">编辑</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Form to select tags -->
                        <form id="editRoleForm">
                            <div class="mb-3">
                                <label for="edit_user_id" class="form-label">用户id</label>
                                <input type="text" class="form-control" id="edit_user_id">
                            </div>
                            <div class="mb-3">
                                <input type="text" style="display: none;" class="form-control" id="edit_parse_id"
                                       name="edit_parse_id"
                                       disabled="true" readonly>
                                <label for="tagSelect" class="form-label">选择标签</label>
                                <select class="selectpicker" multiple id="tagSelect" data-live-search="true"
                                        title="请选择">
                                    {% for tag in tag_list %}
                                        <option value={{ tag.id }}>{{ tag.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="saveTagChanges">保存</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock content %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('#select-all').on('change', function () {
                var isChecked = this.checked;
                $('#select-all').closest('table').find('input[type="checkbox"]').prop('checked', isChecked);
            });

            $('.edit-tag').on('click', function () {
                // Fetch user data and populate modal form
                var selectedTags = $(this).data('parse-tag');
                var tag_list = []
                if (selectedTags.length > 1) {
                    tag_list = selectedTags.split(',');
                } else {
                    tag_list = [selectedTags.toString()]
                }
                $('#tagSelect').selectpicker('val', tag_list);
                const parse_id = $(this).data('parse-id');
                $('#edit_parse_id').val(parse_id);
                const parse_user_id = $(this).data('parse-user_id');
                $('#edit_user_id').val(parse_user_id);
                $('#editRoleModal').modal('show');
            });

            $('#saveTagChanges').on('click', function () {
                var $tagSelect = $('#tagSelect');
                var selectedTags = $tagSelect.val();
                var tg_user_id = $('#edit_parse_id').val();
                console.log('select tags:', selectedTags)
                $('.selectpicker').selectpicker('val', ['noneSelectedText']);
                $('.selectpicker').selectpicker('refresh');

                // Update user tags on server
                $.ajax({
                    type: 'POST',
                    url: '{{ url_for("api.tg_group_user_modify_tag") }}',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({tg_user_id: tg_user_id, tag_id_list: selectedTags.join(',')}), // Convert array back to comma-separated string
                    success: function (response) {
                        $('#editRoleModal').modal('hide');
                        location.reload(false);

                    }
                });
            });

        });
        $(document).on('click', '.search_keyword', function (e) {
            console.log('点击搜索')
            e.preventDefault();
            const selectedKeywords = [];
            // 遍历所有的checkbox，收集被选中的关键词ID
            $('input[name="selectedWords"]:checked').each(function () {
                selectedKeywords.push($(this).val());
            });
            const keywords = selectedKeywords.join(',');
            console.log('keyword:', keywords);
            if (!keywords) {
                alert('请选择关键词');
                return;
            }
            const search_type = $('input[name="searchEngine"]:checked').val();
            if (!search_type) {
                alert('请选择搜索引擎');
                return;
            }
            console.log('search_type:', search_type);

            if (selectedKeywords) {
                $.ajax({
                    url: "{{ url_for('api.black_keyword_search') }}",
                    type: "post",
                    data: JSON.stringify({keywords: keywords, search_type: search_type}),
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        const msg = response.payload.msg;
                        alert(msg);
                    },
                    error: function (error) {
                        // 处理错误情况
                        console.error("Error:", error);
                    }
                });
            }
        });

    </script>
{% endblock script %}
